streamlit
python-dotenv
langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
langchain-text-splitters==0.2.4
langchain-google-genai==1.0.10
langchain-huggingface==0.0.3
langchain-chroma==0.1.4
chromadb==0.5.23
protobuf==3.20.3
sentence-transformers==3.0.1
pymupdf
pdfplumber